// ########### Preloader ##################
.preloader {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary-light;
    z-index: 9999;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        letter-spacing: 10px;
        width: 30rem;
        height: 30rem;
        // border-radius: 50%;
        // border: 3px solid #fff;
        padding: 5rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 101%;
            width: 101%;

            border-left: solid 10px $color-light;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;

            -webkit-animation-name: rotateIt;

                    animation-name: rotateIt;
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
        }
    }

    &__letter{ 
        font-size: 4rem;
        font-weight: 700;
        color: #fff;
        position: relative;
        z-index: 100;
        background: linear-gradient(to right, $color-light, $color-light);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        &--1 {
            -webkit-animation-name: shakeIt;
                    animation-name: shakeIt;
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            -webkit-animation-delay: 0s;
                    animation-delay: 0s;
        }

        &--2 {
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            -webkit-animation-name: shakeIt;
                    animation-name: shakeIt;
            -webkit-animation-delay: .1s;
                    animation-delay: .1s;
        }

        &--3 {
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            -webkit-animation-name: shakeIt;
                    animation-name: shakeIt;
            -webkit-animation-delay: .2s;
                    animation-delay: .2s;

        }

        &--4 {
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            -webkit-animation-name: shakeIt;
                    animation-name: shakeIt;
            -webkit-animation-delay: .3s;
                    animation-delay: .3s;

        }

        &--5 {
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            -webkit-animation-name: shakeIt;
                    animation-name: shakeIt;
            -webkit-animation-delay: .4s;
                    animation-delay: .4s;

        }

        &--6 {
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            -webkit-animation-name: shakeIt;
                    animation-name: shakeIt;
            -webkit-animation-delay: .5s;
                    animation-delay: .5s;

        }

        &--7 {
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            -webkit-animation-name: shakeIt;
                    animation-name: shakeIt;
            -webkit-animation-delay: .6s;
                    animation-delay: .6s;

        }

        &--8 {
            -webkit-animation-duration: 1.5s;
                    animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
            -webkit-animation-name: shakeIt;
                    animation-name: shakeIt;
            -webkit-animation-delay: .7s;
                    animation-delay: .7s;
        }
    }
}

// ############ Button #################

.btn {

    &:link,
    &:visited {
        text-decoration: none;
        color: $color-light;
        display: inline-block;
        padding: 1rem 3rem;
        text-decoration: none;
        transition: all .2s;
        border-radius: 5px;

        @media only screen and (max-width: $phone) {
                padding: .8rem 2rem; 
            }
    }

    &:hover,
    &:focus {
        box-shadow: $shadow;
        transform: translateY(-.3rem);
    }

    &:active {
        box-shadow: $shadow-small;
        transform: translateY(-.1rem);
    }
}

.btn-primary { 
    &:link,
    &:visited {
        border: 2px solid $color-light;
        position: relative;
        overflow: hidden;
        transition: all .3s;
        margin-top: 3rem;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
    }

    &:hover::after {
        width: 100%;
    }

    &::after {
        content: "";
        position: absolute;
        right: -2rem;
        top: 0;
        height: 100%;
        width: 0%;
        background-color: rgba($color-light, .3);
        transform: skewX(-19deg) scaleX(2);
        transition: all .3s;
    }
}


.btn-projects {

    &:link,
    &:visited {
        background: linear-gradient(to right bottom, rgba($color-primary, .9), rgba($color-primary-light, .6));
        border-radius: 5px;
        font-size: 1.7rem;
    }
    
    i {
        font-size: 2.2rem;
        margin-left: 1rem;
    }
}

.nav-btn {
    position: absolute;
    top: 1.8rem;
    right: 3rem;

    display: none;

    @media only screen and (max-width: $phone) {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;  
    }

    &__menu,
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
    }

    &__bar {
        width: 35px;
        height: 2px;
        background-color: #fff;
        display: inline-block;
        margin: 4px 0;
        transition: all .2s ease-in-out;

        // MENU BTN
        &--1 {
            transform: translateX(-50px);
            opacity: 0;
        }   

        &--2 {
            transform: rotate(180deg);
            
        }
        &--3 {
            transform: translateX(50px);
            opacity: 0;
        }
    }
}

.scroll-btn {
    position: absolute;
    left: 50%;

    width: 20px;
    height: 40px;
    margin-left: -20px;
    top: 85%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 2px $color-light;
    border-radius: 25px;
    z-index: 1;

  &::before {
    position: absolute;
    left: 50%;
    content: '';
    width: 8px;
    height: 8px;
    background: $color-light;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
            animation-name: scroll;
  }
}

.active {
    transform: rotate(0) translateX(0);
    opacity: 1;
}

.resume-color {
    color: #fff;
    font-weight: 700;
    font-size: 1.7rem;
    background: $color-primary;

    @media only screen and (max-width: $phone) {
        background: $color-light;
        color: $color-primary;
    }
}
