.container {
    max-width: 120rem;
    margin: 0 auto;
}

// ########### Header ##################

#header {
    background: linear-gradient(to right bottom, rgba($color-primary-dark, .6), rgba($color-primary, 0.6)), url(../img/landpage.jpg);
    // background: url("../img/landpage-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // position: relative;
    height: 95vh;
    -webkit-clip-path: ellipse(100% 55% at 48% 44%);
            clip-path: ellipse(100% 55% at 48% 44%);
    
    @media only screen and (max-width: $phone) {
        background-attachment: scroll;
    }
}

// ########### Sections ###############

section {
    padding: 6rem 0;
    position: relative;
}

// ########### About ##################

#section-about {
    background-size: auto;
    background-repeat: repeat;
    overflow: hidden;
    z-index: -2;
}

// ########### Skills ##################

#section-skills {

    background: $bg-color-main;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1;
    }
}

// ########### Projects ##################

#section-projects {
    width: 100%;
    background-size: auto;
    background-repeat: repeat;
}

// ########### Contact ##################

#section-contact {
    background: $bg-color-main;
    padding: 3rem;
}

// ########### Contact ##################

#footer-section {
    background-color: $color-dark;
    width: 100%;
}