// ########### BASE SETINGS ###################
* {
    padding: 0;
    margin: 0;   
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;;
    font-size: 1.7rem;
    color: $color-dark;
    line-height: 1.6;
    font-weight: 400;

    // position: relative;
}

